.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
}

.image {
  width: 100%;
}

.text {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .centered {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
  }
}