.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    background: #f6f2ff;
    color: #000000;
    display: block;
    padding: 1rem;
    margin-bottom: 10px;
    height: 3rem;
    border-radius: 1rem;

    a {
        color: #000000;
        text-decoration: none;
    }
}

.content:hover {
    background: #e9e3fa;
}

.text {
    text-align: center;
}

.search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #000000;
    color: #777777;
    position: relative;
    width: 220px;
}

.search:focus {
    outline: none;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.search-button {
    background: #e9e3fa;
    color: #000000;
    display: block;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-decoration: none;
    position: absolute;
    margin-left: 200px;
}

.search-button:hover {
    background: #9c95ba;
}