.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 1rem;
    margin-bottom: 10px;
    height: 3rem;
}

.content:hover {
    background: #e4e4e4;
}

.text {
    text-align: center;
}