.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #7063ba;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #7063ba;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #d141ad;
}

.active-nav-item {
    color: #d141ad;
    border-bottom: 1px solid #d141ad;
}

.line {
    margin-top: 10px;
}